* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    height: 100%;
    overflow: hidden;
    background-color: bisque;
}
.title {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: -8px;
    font-family: 'Jua', sans-serif;
    font-weight: bold;
}

.red {
    color: red;
}
.orange {
    color: orange;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.cyan {
    color: cyan;
}

.game-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}
.game-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.score {
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}

.tool > ul {
    border: 2px solid #000;
    width: 350px;
    margin: 0 auto;
}
.tool > ul > li {
    width: 100%;
    height: 35px;
}
.tool > ul > li > ul {
    display: flex;
}
.tool > ul > li > ul >li {
    width: 35px;
    height: 35px;
    outline: 1px solid #ccc;
}
.Fuckyou {
    background: red;
}
.bar {
    background: orange;
}
.square {
    background: yellow;
}
.z_left {
    background: green;
}
.z_right {
    background: blue;
}
.L_left {
    background: navy;
}
.L_right {
    background: purple;
}
.controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 70rem;
    top: 40rem;
    gap: 1rem;
    margin-left: 1rem;
}

.motion_buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* 버튼 공통 스타일 */
.controller button {
    font-size: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background: #eee;
    cursor: pointer;
    transition: background 0.01ms;
}

.controller button:hover {
    background: #ccc;
}
.drop_button {
    position: absolute;
    top: 0px;
    left: -45px;
}
@media (max-width: 0px) {
    body {
        overflow: auto;
    }
    .tool > ul {
        border: 2px solid #000;
        width: 250px;
        margin: 0 auto;
    }
    .tool > ul > li {
        width: 100%;
        height: 25px;
    }
    .tool > ul > li > ul {
        display: flex;
    }
    .tool > ul > li > ul >li {
        width: 25px;
        height: 25px;
        outline: 1px solid #ccc;
    }
    .game-container {
        flex-direction: column;
        align-items: center;
    }

    .controller {
        position: absolute;
        left: center;
    }

    .motion_buttons {
        justify-content: center;
    }

    .drop_button {
        position: static;
        margin-top: 0.5rem;
    }

}
